@import url(https://fonts.googleapis.com/css?family=Passion+One);

body {
  margin: 0;
  padding: 0;
  align-items: center;
  background: black;
  overflow: hidden;
}

.container {
  background: radial-gradient(#632ca6, black);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.logo {
  border: 2px solid white;
  padding: 10px 20px;
  font-size: 5em;
  letter-spacing: -0.06em;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Impact", sans-serif;
}

.form-area {
  width: 80%;
  max-width: 300px;
}

.form-text {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #632ca6;
}
